<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern><![CDATA[%7level - %msg%n]]></pattern>
        </encoder>
    </appender>
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <!-- in the absence of the class attribute, it is assumed that the
             desired discriminator type is
             ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
        <filter class="logging.HasMarkerFilter"/>
        <discriminator class="logging.MarkerDiscriminator">
        </discriminator>
        <sift>
            <appender name="FILE-${filename}" class="ch.qos.logback.core.FileAppender">
                <file>logs/${filename}.log</file>
                <append>true</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/logfile.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %logger %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="error"/>
    <logger name="org.jboss.logging" level="warn"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="SIFT"/>
    </root>

</configuration>